
p, li {
    font-size: medium !important;
}

.small_control {
    width: 100px;
}

.play_button {
    height: 1.3rem;
    padding: 6px 6px;
}

.stop_button {
    height: 1.2rem;
    padding: 6px 6px;
}

.soundwave {
    height: 1.0rem;
    visibility: hidden;
}

.soundwave_vspace {
    height: 1.0rem;
    margin: 0.4rem;
    visibility: hidden;
}

.centered_th {
    text-align: center;
}

tr.no-bottom-border td {
    border-bottom: none
}

.bestresult {
    background-color:rgb(241, 241, 241);
    font-weight: bold;
}
